*{
    margin: 0;
    padding: 0;
}

body,html,#root{
    min-height: 100svh;
    width: 100%;
    background-color: #0E1117;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}
